div.line-banner
  div.swiper.line-banner__swiper
    ul.swiper-wrapper.line-banner__list
      li.swiper-slide.line-banner__item
        figure.line-banner__banner
          img(src="./assets/images/line-1.jpg", alt="")
      li.swiper-slide.line-banner__item
        figure.line-banner__banner
          img(src="./assets/images/line-2.jpg", alt="")
          
  div.line-banner__buttons
    button(type='button' aria-label='Предыдущий слайд.').line-banner__button.line-banner__button--prev
      svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
        use(href='#icon-chevron-left')
    button(type='button' aria-label='Следующий слайд.').line-banner__button.line-banner__button--next
      svg(width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg")
        use(href='#icon-chevron-right')

  div.line-banner__footer
    div.line-banner__pagination
    div.line-banner__scrollbar