mixin article(props)

  div.article
    h2 B2B-магазин где #[em.wave-text выгодно быть постоянным клиентом]: снижайте уровень цен и получайте кешбэк за каждый заказ

    p Получайте до 1,5% с каждого заказа кешбэком и оплачивайте им до 20% от суммы последующих. #[br] Влияйте на отпускные цены, которые зависят объема закупок за квартал. #[br] А еще приветственные бонусы и постоянные акции. 

    picture
      source(media="(max-width: 991px)" srcset="./assets/images/article-image-1--mobile.png")
      img(src="./assets/images/article-image-1.png", alt="")
