div.point-card
  div.point-card__header
    span.point-card__title Deep Expertise in Importing Fish & Seafood
    span.point-card__counter
  div.point-card__main
    p Comprehensive categories: red fish, white fish, pelagic fish, fillets, and seafood


div.point-card
  div.point-card__header
    span.point-card__title Reputation as a Trusted Partner
    span.point-card__counter
  div.point-card__main
    p Recognized as a reliable supplier in both Russian and international markets


div.point-card
  div.point-card__header
    span.point-card__title Agile and Adaptive Business Approach
    span.point-card__counter
  div.point-card__main
    p Flexible operations and fast, effective problem-solving


div.point-card
  div.point-card__header
    span.point-card__title Pride in Our Products and Our People
    span.point-card__counter
  div.point-card__main
    p A key driver of quality, responsibility, and service excellence


div.point-card
  div.point-card__header
    span.point-card__title Extensive Branch Network
    span.point-card__counter
  div.point-card__main
    p Ensuring wide coverage and reliable supply


div.point-card
  div.point-card__header
    span.point-card__title Focus on Long-Term Partnerships
    span.point-card__counter
  div.point-card__main
    p Strong, lasting relationships with employees, partners, and consumers



div.point-card
  div.point-card__header
    span.point-card__title Financial Stability & Sustainable Growth
    span.point-card__counter
  div.point-card__main
    p A solid financial foundation supported by consistent year-on-year growth
