.point-card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: $Secondary-3;
  border-radius: 40px;
  gap: 20px;
  counter-increment: lvl1;

  @media(max-width: $tablet) {
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__title {
    @include DesktopSubtitle4-bold;
    margin: 0;
  }

  &__counter {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $Primary-1;
    background-color: $Primary-5;
    border-radius: 50%;
    flex-shrink: 0;

    @media(max-width: $phone) {
      width: 40px;
      height: 40px;
    }

    &:after {
      @include DesktopH2-bold;
      // content: counter(lvl1, decimal-leading-zero);
      content: counter(lvl1);
    }
  }

  &__main {
    text-align: left;
  }
}