section.popUp.cookie
  div.container
    div.cookie__wrapper
      div.cookie__main
        p.cookie__text By continuing to use <a href="https://dev3.opt.defagroup.com" target="_blank" rel=" noopener noreferrer">dev3.opt.defagroup.com</a>, you agree to our use of cookies. <br>For more information, see <a href="/urinfo/privacy/" target="_blank" rel=" noopener noreferrer">the Privacy Policy</a>.

      button(type="button" aria-label="Закрыть").button.cookie__button Accept