div.field
  label(for="phone").field__label
  div.field__inner
    input(type='tel' inputmode='tel' name='phone' id='phone' minlength='10' autocomplete='off' autocapitalize='off' placeholder='Телефон' required).field__input.input-phone