@font-face {
  font-family: "icon";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/icon/icon.woff2") format("woff2"),
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-400.woff2") format("woff2"),
      url("../assets/fonts/Roboto/Roboto-400.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-500.woff2") format("woff2"),
      url("../assets/fonts/Roboto/Roboto-500.woff") format("woff");
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-700.woff2") format("woff2"),
      url("../assets/fonts/Roboto/Roboto-700.woff") format("woff");
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../assets/fonts/Roboto/Roboto-900.woff2") format("woff2"),
      url("../assets/fonts/Roboto/Roboto-900.woff") format("woff");
}

