footer.footer
  div.container
    div.footer__main
      a(href="").footer__link
        address 197374, Saint Petersburg, 126 Savushkina Street, bldg. A, "Atlantic City" Business Center
      a(href="tel:78126406401").footer__link +7 (812) 640 64 01
      a(href="mailto:info@defagroup.com").footer__link info@defagroup.com
      
      a(href="#" download).footer__download
        svg(width="18" height="19" viewBox="0 0 18 19" xmlns="http://www.w3.org/2000/svg")
          use(href="#icon-download")
        span Price List

    div.footer__bottom
      p.footer__copyright &copy; 1995 - 2026 Defa group
      a(href="#").footer__link Privacy Policy
      a(href="#").footer__link User Agreement
      a(href="https://5corners.ru/").footer__link.footer__link--5corners
        span One Perfect Catch with 
        svg(width="17" height="17" viewBox="0 0 17 17" xmlns="http://www.w3.org/2000/svg")
          use(href="#icon-5corners")
        span 5 УГЛОВ