div.chess-gallery
  div.chess-gallery__wrapper
    <!-- В data-original пишем адрес для картинки в большом разрешении. -->
    div.chess-gallery__column

      figure.chess-gallery__banner
        img(src="./assets/images/chess-gallery-1.jpg" alt="" data-original='./assets/images/chess-gallery-1.jpg')

      figure.chess-gallery__banner
        img(src="./assets/images/chess-gallery-3.jpg" alt="" data-original='./assets/images/chess-gallery-3.jpg')

    div.chess-gallery__column
      figure.chess-gallery__banner
        img(src="./assets/images/chess-gallery-2.jpg" alt="" data-original='./assets/images/chess-gallery-2.jpg')

      div.chess-gallery__text-wrapper
        div.chess-gallery__text-inner
          p We support an active lifestyle through sports initiatives such as hockey, football, and corporate fitness.
          p Beyond the workplace, Defa group contributes to meaningful causes, partnering with the Imperial Foundation for Cancer Research, a children’s hospice in Saint Petersburg, and other charitable organizations.

      figure.chess-gallery__banner
        img(src="./assets/images/chess-gallery-4.jpg" alt="" data-original='./assets/images/chess-gallery-4.jpg')

