div.common-card
  figure.common-card__banner
    img(src="./assets/images/common-card-1.png", alt="")
  span Fish & Seafood Import


div.common-card
  figure.common-card__banner
    img(src="./assets/images/common-card-2.png", alt="")
  span B2B Fish & Seafood Sales


div.common-card
  figure.common-card__banner
    img(src="./assets/images/common-card-3.png", alt="")
  span Private Label Products


div.common-card
  figure.common-card__banner
    img(src="./assets/images/common-card-4.png", alt="")
  span Retail Chains & HoReCa Distribution